$vertical-input-width: 300px;
$vertical-input-margin: 20px;

.vertical-input {
  width: $vertical-input-width; 
  margin-bottom: $vertical-input-margin;
}

.vertical-inputs {
  width: 100%;
  & > div {
    margin-bottom: $vertical-input-margin;
  }
  &__input {
    display: flex;
    align-items: center;
    & .v-input {
      width: $vertical-input-width;
      flex: initial;
    }
    &__message {
      flex: 1;
      margin-left: 20px;
      top: 20px;
      position: relative;
      align-self: flex-start;
    }
    &_wide {
      & .v-input {
        width: #{$vertical-input-width * 2};
      }
    }
  }
}